body {
  width: 100%;
  margin: 0;
  background: url(http://subtlepatterns.com/patterns/crossword.png);
}

.chart {
  margin-top: 2%;
  font-family: 'Raleway';
}

.histext {
  fill: #000;
}

.dot {
  stroke: #000;
}

.dot2 {
  stroke: #000;
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar2 rect {
  fill: #ffa500;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: optimizeSpeed;
}

.tooltip {
  position: absolute;
  width: auto;
  height: 28px;
  pointer-events: none;
}

.tip {
  font-family: 'Raleway';
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  margin-left: 10px;
}

.mainselect {
  text-align: center;
  margin-top: 10%;
  margin-left: 65%;
  display: inline-block;
  position: absolute;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.mainselect select {
  display: block;
  margin-top: 25px;
}

.mainselect b {
  font-family: Raleway;
}

#maindiv {
  margin-bottom: 20px;
}

.tip:before {
  content: "";
  position: absolute;
  top: 65%;
  left: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
  border-left: 20px;
	border-right:10px solid #333;
  display: block;
  width: 0;
  z-index: 1;
}
